#inputValue{
    width: 750px;
    height: 30px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.lableInputValue{
    font-size: 20px;
}

.btn{
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    font-size: 15px;
    background-color: #fff;
}
.btn:hover{
    background-color: #ccc;
}

.btn-group{
    display: inline-block;
    font-size: 18px;
}

#root{
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid rgb(156, 151, 151);
}

#TextComment{
    font-size: 24px;
}
