*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    background-color: rgb(103, 140, 166);
    width: 100%;
    height: 60px;
    color: white;
    border-bottom: 1px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    width: 900px;
    height: 200px;
    margin: auto;
    margin-top: 60px;
}

#Chuyen-can,#Giua-ky,#Cuoi-ky,#Tong-ket{
    width: 100px;
    height: 30px;
    font-size: 16px;
    /* border-top: none; */
    padding: 10px;
    outline: none;
    margin: 15px;
}

label{
    display:inline-block;
    width: 135px;
}

.size4{
    display: inline-block;
}

.diem{
    color: red;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}