* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    margin: 0;
    background-color: #404040;
    height: 50px;
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.text-header{
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
    color: white;
}

.main-function-1,.main-function-2{
    width: 100%;
    height: 60px;
    /* background-color: palegoldenrod; */
    display: flex;
}
.main-function-input-1{
    height:100px;
    width: 1200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}

.main-function-input-2{
    height:100px;
    width: 1200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}


#inputValue{
    /* border: 1px solid black; */
    width: 762px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #999999;
    padding: 10px;
    /* padding-left: 20px; */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.lableInputValue{
    font-size: 20px;
    /* margin-left: 20px; */
}


.btn-group{
    display: inline-block;
    font-size: 18px;
}

.reset{
    background-color: #ff8080;
}
.reset:hover{
    background-color: #ff1a1a;
}

.botton-heapsort{
    background-color: #33ccff;
}
.botton-heapsort:hover{
    background-color: #00ace6;
}

.botton-create{
    background-color: #33ff77;
}
.botton-create:hover{
    background-color: #00e64d;
}


#root{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(156, 151, 151);
    border-radius: 15px;
}

#TextComment{
    font-size: 18px;
}

.nodes{
    margin-top: 3px;
    padding-top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border: 1px solid black;
    margin-left: 3px;
}

.nodes-comment{
    /* display: inline-block; */
    font-size: 18px;
    margin-left: 15px;
}
.nodes-comment-count{
    display: inline-block;
    font-size: 18px;
    margin-left: 15px;
}

.node-cha{
    margin-bottom: 20px;
}

.input-range-center{
    margin: 0;
    display: flex;
}

.lable-range-faster{
    font-size: 18px;
    margin-top: -20px;
}

.button-center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#stop-start-range{
    display: inline-block;
    margin-left: 700px;
    margin-top: -28px;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px #999999;
}

#button-image:hover {
    margin-top: -3px;
    margin-left: -3px;
    width: 120%;
    height: 120%;
    box-shadow: 0px 0px 5px 5px #999999;
    border-radius: 50%;
}

#range:hover{
    box-shadow: 0px 0px 5px 5px #999999;
}
#range-faster:hover{
    box-shadow: 0px 0px 5px 5px #999999;
}

#range{ 
    box-shadow: 0px 0px 2px 2px #999999;
    margin: auto;
    display: inline-block;
    margin-top: 20px;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 600px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

#range-faster{
    box-shadow: 0px 0px 2px 2px #999999;
    margin-left: 20px;
    margin-top: -20px;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 150px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

@media only screen and (max-width: 1200px) {
    body{
        width: 1200px;
    }
    .mobie-responsive{
        margin-left: 70px;
    }
    .mobie-responsive-2{
        margin-left: 20px;
    }
  }

.botton-player-center{
    width: 1200px;
    margin: auto;
}

#comment{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #999999;
}

h2{
    margin-bottom: 20px;
}

#footer{
    margin-top: 50px;
    height:100px;
    width: 100%;
    background-color:#ebebe0;
    border: 1px solid #999;
}

body{
    width: 100vw;
    height: 1000px;
}