*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.font{
    width: 400px !important;
    border-radius: 15px !important;
    background-color: white;
    /* margin: auto;
    margin-top: 20px; */
    padding: 20px 40px;
}
.font h1{
    margin-bottom: 50px;
}

.font .font-input{
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 2.5px solid #ccc;
    height: 40px;
    font-size: 18px;
}

.font span{
    height: 2.5px;
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
    left: 0;
    display: block;
}

.font-container{
    margin-top: -10px;
    width: 100%;
    height: 100.5px;
    position: relative;
}

.font-container small{
    position: absolute;
}

.font .font-container .font-name{
    pointer-events: none;
    color: rgba(0,0,0,0.6);
    transition: all 0.3s ease-in-out;
}

.font .font-container i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #a6a6a6;
}

.check{
    transform: translateY(-32px);
    font-size: 18px;
}

.font .font-input:focus ~ .font-name{
    transform: translateY(-55px);
    font-size: 14px;
}

.have-value{
    transform: translateY(-55px);
    font-size: 14px;
}

.font .font-input:focus ~ span{
    width: 100%;
}



.done{
    background-color:#2691d9;
    width: 100%;
}

.normal{
    width: 0;
    background-color:#4d4d33;
}

.error{
    width: 100%;
    background-color: #ff3333;
}

.font-button{
    background-color: #2691d9;
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.font-button:hover{
    background-color: #08609a;
}

.font-login{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.font-login a{
    text-decoration: none;
    color: #2691d9;
}

.font-login a:hover{
    text-decoration: underline;
}

.hidden{
    display: none;
}